h1{
    color: #AE7E74;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-transform: capitalize;
        font-family: 'Source Serif Pro', serif;
}

h2{
    color: #844C4B;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
    margin-top: 0;
        font-family: 'Source Serif Pro', serif;
}

h3{
    color: #844c4be5;
    text-align: left;
    font-size: 20px;
        font-family: 'Source Serif Pro', serif;
}

h4{
    color: #8A8B61;
    text-align: right;
    font-size: 15px;
    margin: 0;
    margin-right: 30px;
}

legend{
    color: #AE7E74;
}

body{
    background-color: #ebdbc3;
    background-image: url('image2.jpg');
    /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
    /* background-size: 1000px 1000px; */
    border: none;
    color: #AE7E74;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
        font-family: 'Source Serif Pro', serif;
    
}

select{
    color: #AE8E89;
    font-family: 'Source Serif Pro', serif;
    	/* border-radius: 0.85rem; */
}

button {
	overflow: hidden;
    background-color: #AE8E89;
	font-family: freight-display-pro, serif;
	font-size: 1.15rem;
	border-radius: 0.85rem;
    border-color: #AE8E89;
	color: #fff;
    text-align: right;
}

.display{
    color: rgba(110, 116, 146, 0.817);
    font-size: 18px;
    text-align: left;
}

.backtotop{
    color: rgba(110, 116, 146, 0.817);
    font-size: 15px;
    text-align: right;
    margin-right: 30px;
}

.backtotop:link{
    color: rgba(110, 116, 146, 0.817);
}

.container{
  overflow: hidden;
  position: absolute;
  width: 140%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}
